{
  "partners": {
    "endpoint": "partners.tencentcloudapi.com",
    "version": "2018-03-21"
  },
  "scf": {
    "endpoint": "scf.tencentcloudapi.com",
    "version": "2018-04-16"
  },
  "tmt": {
    "endpoint": "tmt.tencentcloudapi.com",
    "version": "2018-03-21"
  },
  "postgres": {
    "endpoint": "postgres.tencentcloudapi.com",
    "version": "2017-03-12"
  },
  "cdb": {
    "endpoint": "cdb.tencentcloudapi.com",
    "version": "2017-03-20"
  },
  "cws": {
    "endpoint": "cws.tencentcloudapi.com",
    "version": "2018-03-12"
  },
  "iot": {
    "endpoint": "iot.tencentcloudapi.com",
    "version": "2018-01-23"
  },
  "aai": {
    "endpoint": "aai.tencentcloudapi.com",
    "version": "2018-05-22"
  },
  "batch": {
    "endpoint": "batch.tencentcloudapi.com",
    "version": "2017-03-12"
  },
  "ds": {
    "endpoint": "ds.tencentcloudapi.com",
    "version": "2018-05-23"
  },
  "cis": {
    "endpoint": "cis.tencentcloudapi.com",
    "version": "2018-04-08"
  },
  "cbs": {
    "endpoint": "cbs.tencentcloudapi.com",
    "version": "2017-03-12"
  },
  "cvm": {
    "endpoint": "cvm.tencentcloudapi.com",
    "version": "2017-03-12"
  },
  "ms": {
    "endpoint": "ms.tencentcloudapi.com",
    "version": "2018-04-08"
  },
  "region": "{{ tccli_region }}",
  "mariadb": {
    "endpoint": "mariadb.tencentcloudapi.com",
    "version": "2017-03-12"
  },
  "dcdb": {
    "endpoint": "dcdb.tencentcloudapi.com",
    "version": "2018-04-11"
  },
  "vpc": {
    "endpoint": "vpc.tencentcloudapi.com",
    "version": "2017-03-12"
  }
}
